--scheme-accent-100: #090909;
--scheme-accent-200: #161616;
--scheme-accent-300: #404040;
--scheme-accent-400: #5b5b5b;
--scheme-accent-500: #777777;
--scheme-accent-600: #959595;
--scheme-accent-600-10: rgba(149,149,149,0.1);
--scheme-accent-600-30: rgba(149,149,149,0.3);
--scheme-accent-600-50: rgba(149,149,149,0.5);
--scheme-accent-700: #b4b4b4;
--scheme-accent-800: #d4d4d4;
--scheme-accent-900: #e1e1e1;
--scheme-accent-1000: #eeeeee;
--scheme-accent-1100: #f5f5f5;
--scheme-accent-1200: #fcfcfc;
